# For MinIO
MINIO_ROOT_USER=root_user_name
MINIO_ROOT_PASSWORD=root_user_pwd

# For Django
DJANGO_SECRET_KEY=your_secret_key
DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 0.0.0.0
DJANGO_LOGLEVEL=info

# For postgress
DATABASE_ENGINE=postgresql_psycopg2
POSTGRES_DB_NAME=dockerdjango
POSTGRES_USERNAME=dbuser
POSTGRES_PASSWORD=dbpassword
DATABASE_HOST=db
DATABASE_PORT=5432